 <h2>User info</h2>
 <table class="table">  
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>


<tbody><tr></tr>
<tr>
<th>name</th>
<th><%= user.name %></th>
</tr>
<tr>
<th>introduction</th>
<th><%= user.introduction %></th>
</tr>
<th>follows</th>
<th><%= user.followings.count %></th>
</tr>
<th>followers</th>
<th><%= user.followers.count %></th>
</tr>

</tbody>

</table>
<% if user.id == current_user.id %>　
<div class="row">
  <%= link_to edit_user_path(current_user), class:"btn btn-outline-secondary btn-block fas fa-user-cog" do %>
  <% end %>
  <% else %>
<div class="row">
  <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block fas fa-user-cog" do %>
  
  <% end %> 
  <% end %> 
</div>
 
  